.intro-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.intros-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 17.1765vw - 97.6464px, 10rem);
}

.about-div {
    width: 25rem;
    height: 16.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about-div h1 {
    width: 100%;
    text-align: start;
}

.about-div p {
    font-size: 0.9rem;
    font-weight: 500;
}

.oat-div,
.bottle-div,
.person-div {
    width: 15rem;
    height: 18.75rem;
}

.person-div {
    transform: translateY(2rem);
}

@media screen and (max-width: 650px) {
    .intros-div {
        flex-direction: column;
    }

    .about-div {
        width: 18rem;
        height: 21.8rem;
    }

    .about-div h1,
    .about-div p {
        text-align: center;
    }

    .oat-div,
    .bottle-div,
    .person-div {
        width: 10rem;
        height: 12.5rem;
    }

    .person-div {
        transform: translate(0, 2rem);
    }
}